:root {
  --color-primary: #edcf5c;
  --color-primary-light: #e5dbfe;
  --color-primary-dark: #4a3e7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

h1 {
  text-align: center;
  color: var(--color-primary-dark);
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
/* style header index */

header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: var(--color-primary-light);
  height: 200px;
  position: relative;
  margin-top: 150px;
  padding: 20px;
  border-radius: 10px 10px 0 0;
}

img.header-img {
  width: 40%;
  margin-top: -120px;
}

/* main */

main {
  background-color: var(--color-primary-light);
  padding: 20px;
  border-radius: 0 0 10px 10px;
}

/* link */
.menu {
  margin-top: 20px;
  margin-bottom: 50px;
  display: flex;
  justify-content: space-between;
}

a, button[type="submit"] {
  text-decoration: none;
  padding: 10px 20px;
  background-color: var(--color-primary-dark);
  color: white;
  border-radius: 5px;
  transition: .8s;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

a::before,
button[type="submit"]::before {
  content: "";
  border-radius: 5px;
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  height: 100% ;
  background-color: var(--color-primary);
  transition: .8s;
  z-index: -1;
}

a:hover::before,
button[type="submit"]:hover::before {
  width: 100%;
}

a:hover,
button[type="submit"]:hover {
  color: var(--color-primary-dark);
}


/* table */
/* Tabelle allgemein */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 30px;
}

/* Tabellenzeilen */
tr:nth-child(even) {
  background-color: white;
}

tr:nth-child(odd) {
  background-color: var(--color-primary-light);
}

/* Tabellenzellen */
td, th {
  padding: 8px;
  border: 1px solid var(--color-primary-dark);
}

/* Tabellenüberschriften */
th {
  background-color: var(--color-primary);
  color: var(--color-primary-dark);
}

/* formullar */
form {
  max-width: 500px; 
  margin: 0 auto;
  padding: 20px;
  background-color: white;
  border-radius: 8px;
  margin-top: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--color-primary-dark);
}

input[type="text"],
input[type="number"],
input[type="email"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid var(--color-primary-light);
  border-radius: 5px;
  box-sizing: border-box;
}

input:focus-visible {
  outline: 1px solid var(--color-primary);
}

button[type="submit"] {
  width: 100%;
  padding: 10px;
  background-color: #4a3e7f;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #634e99;
}

